.side-menu{
  &__title{
    background-color: #740311;
    font-size: 20px;
    color: #fff;
    padding: 20px;
  }
  &__item{
    a{
      text-decoration: none;
      color: #8c8c8c;
      flex: 1 auto;
      padding: 20px;
      }
    span{
      width: 50px;
      padding-top: 20px;
      &:after{
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-top: 2px solid #8c8c8c;
        border-right: 2px solid #8c8c8c;
        transform: rotate(135deg);
        }
      }
    li{
      background-color: #f8f8f8;
      display: flex;
    }
    li:nth-child(2n){
      background: #f4f3f3;
    }
  }
}