.side-news{
  &__title{
    background-color: #740311;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__date{
    color: #8c8c8c;
    font-size: 18px;
  }
  &__date span{
    color: #740311;
    font-size: 18px;
  }
  &__text{
    margin-bottom: 30px;
  }
  &__text a{
    font-size: 14px;
    color: #434343;
    text-decoration: none;
    i{
      margin-left: 10px;
      color: #434343;
    }
  }
  &__line{
    border-bottom: 1px solid #740311;
    margin-bottom: 30px;
  }
}