.footer
  .footer__data
    .footer__data-item
      a(href="#")
        img(src="img/yellow.png")
    .footer__data-item
      a(href="#")
        img(src="img/top.png")
    .footer__data-item
      a(href="#")
        img(src="img/all.png")
    .footer__data-item
      a(href="#")
        img(src="img/number.png")
  .footer__menu
    ul
      li
        a(href="#")|Главная
      li
        a(href="#")|Услуги
      li
        a(href="#")|Производство
      li
        a(href="#")|Новости
      li
        a(href="#")|Поддержка
      li
        a(href="#")|Технологии
      li
        a(href="#")|Контакты