.footer
  .col-phablet-1-2
    .footer__data
      .col-phablet-1-2
        .footer__data-item
          a(href="#")
            img(src="img/yellow.png")
      .col-phablet-1-2
        .footer__data-item
          a(href="#")
            img(src="img/top.png")
      .col-phablet-1-2
        .footer__data-item
          a(href="#")
            img(src="img/all.png")
      .col-phablet-1-2
        .footer__data-item
          a(href="#")
            img(src="img/number.png")
  .col-phablet-1-2.col-tablet-1-3
    .footer__menu
      ul
        li
          a(href="#")|Главная
        li
          a(href="#")|Услуги
        li
          a(href="#")|Производство
        li
          a(href="#")|Новости
        li
          a(href="#")|Поддержка
        li
          a(href="#")|Технологии
        li
          a(href="#")|Контакты