.side-news
  .side-news__title
    |новости
  .side-news__date
    <span>18.08.</span>
    |2014
  .side-news__text
    |Начал работу новый формный участок на основе CTP AGFA Palladio II, 
    |производительностью 150 форм в смену.  
  .side-news__line

.side-news
  .side-news__date
    <span>18.08.</span>
    |2014
  .side-news__text
    |Начал работу новый формный участок на основе CTP AGFA Palladio II, 
    |производительностью 150 форм в смену.
    |Начал работу новый формный участок на основе CTP AGFA Palladio II, 
    |производительностью 150 форм в смену.   
  .side-news__line

.side-news
  .side-news__date
    <span>18.08.</span>
    |2014
  .side-news__text
    |Начал работу новый формный участок на основе CTP AGFA Palladio II, 
    |производительностью 150 форм в смену.  
  .side-news__line