.side-menu
  .side-menu__title
    |ПРОИЗВОДСТВО
  .side-menu__content
    ul
      li
        a(href="#")|ЦИФРОВОЕ
      li
        a(href="#")|ОФСЕТНОЕ
      li
        a(href="#")|ШЕЛКОГРАФИЯ
      li
        a(href="#")
          |ПЕРЕМЕННЫЕ ДАННЫЕ,<br> 
          |ШТРИХ-КОДИРОВАНИЕ
      li
        a(href="#")|ОТДЕЛОЧНОЕ