.sidebar
  .menu-vertical
    .title
      |производство
    .menu-item
      ul
        li(class="active")
          a(href="#")|ЦИФРОВОЕ
          span
        li
          a(href="#")|ОФСЕТНОЕ
          span
        li
          a(href="#")|ШЕЛКОГРАФИЯ
          span
        li
          a(href="#")
            |ПЕРЕМЕННЫЕ ДАННЫЕ,<br> 
            |ШТРИХ-КОДИРОВАНИЕ
          span
        li
          a(href="#")|ОТДЕЛОЧНОЕ
          span
  .news-list
    .title
      |новости
    .news-item
      <span>18.08.</span>
      |2014
    .news-item-text
      a(href="#")
        |Начал работу новый формный участок на основе CTP AGFA Palladio II, 
        |производительностью 150 форм в смену.
        <i class="fas fa-long-arrow-alt-right"></i> 
  .news-list
    .news-item
      <span>18.08.</span>
      |2014
    .news-item-text
      a(href="#")
        |Начал работу новый формный участок на основе CTP AGFA Palladio II, 
        |производительностью 150 форм в смену.
        |Начал работу новый формный участок на основе CTP AGFA Palladio II, 
        |производительностью 150 форм в смену.
        <i class="fas fa-long-arrow-alt-right"></i>
  .news-list 
    .news-item
      <span>18.08.</span>
      |2014
    .news-item-text
      a(href="#")
        |Начал работу новый формный участок на основе CTP AGFA Palladio II, 
        |производительностью 150 форм в смену.
        <i class="fas fa-long-arrow-alt-right"></i> 