.side-menu
  .side-menu__title
    |ПРОИЗВОДСТВО
  .side-menu__item
    ul
      li
        a(href="#")|ЦИФРОВОЕ
        span
      li
        a(href="#")|ОФСЕТНОЕ
        span
      li
        a(href="#")|ШЕЛКОГРАФИЯ
        span
      li
        a(href="#")
          |ПЕРЕМЕННЫЕ ДАННЫЕ,<br> 
          |ШТРИХ-КОДИРОВАНИЕ
        span
      li
        a(href="#")|ОТДЕЛОЧНОЕ
        span