doctype
html
  head
    include partials/head
  body
    include partials/header
    include partials/logo
    include partials/phones
    include partials/sidebar
    include partials/article
    include partials/footer